<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links/links.html"></div>
</head>
<body>
    <form th:action="@{'/item-search'}" method="get">
        <div>
            <input type="text" class="form-control" name="search">
        </div>
        <div>
            <button class="btn btn-secondary btn-sm">SEARCH</button>
        </div>
    </form>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    NAME
                </th>
                <th>
                    DESCRIPTION
                </th>
                <th>
                    PRICE
                </th>
                <th>
                    RATING
                </th>
                <th>
                    CITY
                </th>
                <th>
                    DETAILS
                </th>
                <th>
                    DETAILS 2
                </th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="it: ${items}">
            <td th:text="${it.id}"></td>
            <td th:text="${it.name}"></td>
            <td th:text="${it.description}"></td>
            <td th:text="${it.price}"></td>
            <td th:text="${it.rating}"></td>
            <td th:text="${it.city.name}"></td>
            <td style="width: 7%"><a th:href="@{'/details/' + ${it.id}}"  class="btn btn-secondary btn-sm">DETAILS</a></td>
            <td style="width: 10%"><a th:href="@{'/details-name/' + ${it.name}}" class="btn btn-secondary btn-sm">DETAILS BY NAME</a> </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-striped table-dark mt-3">
        <thead>
        <tr>
            <th>
                MODEL
            </th>
            <th>
                PRICE
            </th>
            <th>
                YEAR
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.price}"></td>
            <td th:text="${car.year}"></td>
        </tr>
        </tbody>
    </table>


    <table class="table table-striped table-dark mt-3">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher: ${teachers}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>